# Yelp Data Challenge - Data Preprocessing

## Dataset Introduction

[Yelp Dataset Challenge](https://www.yelp.com/dataset_challenge)

The Challenge Dataset:

    4.1M reviews and 947K tips by 1M users for 144K businesses
    1.1M business attributes, e.g., hours, parking availability, ambience.
    Aggregated check-ins over time for each of the 125K businesses
    200,000 pictures from the included businesses

Cities:

    U.K.: Edinburgh
    Germany: Karlsruhe
    Canada: Montreal and Waterloo
    U.S.: Pittsburgh, Charlotte, Urbana-Champaign, Phoenix, Las Vegas, Madison, Cleveland

Files:

    yelp_academic_dataset_business.json
    yelp_academic_dataset_checkin.json
    yelp_academic_dataset_review.json
    yelp_academic_dataset_tip.json
    yelp_academic_dataset_user.json

Notes on the Dataset

    Each file is composed of a single object type, one json-object per-line.
    Take a look at some examples to get you started: https://github.com/Yelp/dataset-examples.

## Read data from file and load to Pandas DataFrame

In [64]:
import json
import pandas as pd
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [7]:
file_business, file_checkin, file_review, file_tip, file_user = [
    './yelp_dataset/yelp_academic_dataset_business.json',
    './yelp_dataset/yelp_academic_dataset_checkin.json',
    './yelp_dataset/yelp_academic_dataset_review.json',
    './yelp_dataset/yelp_academic_dataset_tip.json',
    './yelp_dataset/yelp_academic_dataset_user.json'
]

#### Business Data

In [8]:
with open(file_business) as f:
    df_business = pd.DataFrame(json.loads(line) for line in f)

In [9]:
df_business.head(20)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{u'BusinessParking': u'{'garage': False, 'stre...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{u'Monday': u'8:30-17:0', u'Tuesday': u'11:0-2...",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
1,,"{u'RestaurantsTableService': u'False', u'GoodF...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{u'Sunday': u'17:0-23:0', u'Friday': u'17:0-23...",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV
2,1335 rue Beaubien E,"{u'RestaurantsTableService': u'True', u'GoodFo...",O8S5hYJ1SMc8fA4QBtVujA,"Breakfast & Brunch, Restaurants, French, Sandw...",Montr√©al,"{u'Monday': u'10:0-22:0', u'Tuesday': u'10:0-2...",0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,5,4.0,QC
3,211 W Monroe St,None,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",Phoenix,None,1,33.449999,-112.076979,Geico Insurance,,85003,8,1.5,AZ
4,2005 Alyth Place SE,{u'BusinessAcceptsCreditCards': u'True'},8USyCYqpScwiNEb58Bt6CA,"Home & Garden, Nurseries & Gardening, Shopping...",Calgary,"{u'Friday': u'8:0-17:0', u'Tuesday': u'8:0-17:...",1,51.035591,-114.027366,Action Engine,,T2H 0N5,4,2.0,AB
5,"20235 N Cave Creek Rd, Ste 1115","{u'BusinessParking': u'{'garage': False, 'stre...",45bWSZtniwPRiqlivpS8Og,"Coffee & Tea, Food",Phoenix,"{u'Monday': u'5:30-20:0', u'Tuesday': u'5:30-2...",1,33.671375,-112.030017,The Coffee Bean & Tea Leaf,,85024,63,4.0,AZ
6,631 Bloor St W,"{u'RestaurantsPriceRange2': u'1', u'BusinessPa...",9A2quhZLyWk0akUetBd8hQ,"Food, Bakeries",Toronto,None,0,43.664378,-79.414424,Bnc Cake House,Koreatown,M6G 1K8,7,4.0,ON
7,"3417 Derry Road E, Unit 103","{u'Alcohol': u'none', u'RestaurantsGoodForGrou...",6OuOZAok8ikONMS_T3EzXg,"Restaurants, Thai",Mississauga,None,1,43.712946,-79.632763,Thai One On,Ridgewood,L4T 1A8,7,2.0,ON
8,1440 N. Dysart Ave,"{u'RestaurantsTableService': u'False', u'GoodF...",8-NRKkPY1UiFXW20WXKiXg,"Mexican, Restaurants",Avondale,"{u'Monday': u'0:0-0:0', u'Tuesday': u'0:0-0:0'...",1,33.448106,-112.341302,Filiberto's Mexican Food,,85323,40,2.5,AZ
9,209 Oakland Ave,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",UTm5QZThPQlT35mkAcGOjg,"Flowers & Gifts, Gift Shops, Shopping",Pittsburgh,"{u'Monday': u'9:0-18:0', u'Tuesday': u'9:0-18:...",1,40.441421,-79.956457,Maggie & Stella's Gifts,Oakland,15213,3,3.5,PA
10,4568 Highway 7 E,"{u'RestaurantsGoodForGroups': u'True', u'Resta...",KapTdGyGs7RK0c68Z6hhhg,"Restaurants, Japanese",Markham,"{u'Monday': u'11:30-23:0', u'Tuesday': u'11:30...",0,43.862484,-79.306960,Sushi 8,Unionville,L3R 1M5,12,1.5,ON
11,595 Markham Street,"{u'RestaurantsTableService': u'True', u'GoodFo...",tZnSodhPwNr4bzrwJ1CSbw,"Cajun/Creole, Southern, Restaurants",Toronto,"{u'Tuesday': u'17:0-1:0', u'Friday': u'17:0-1:...",0,43.664125,-79.411886,Southern Accent Restaurant,Palmerston,M6G 2L7,146,4.0,ON
12,2801 N 15th Ave,"{u'Alcohol': u'full_bar', u'HasTV': u'True', u...",_c3ixq9jYKxhLUB0czi0ug,"Bars, Sports Bars, Dive Bars, Burgers, Nightli...",Phoenix,"{u'Monday': u'11:0-22:0', u'Tuesday': u'11:0-2...",1,33.479807,-112.091188,Original Hamburger Works,,85007,277,4.0,AZ
13,4216 Saint-Laurent Boul,"{u'RestaurantsTableService': u'True', u'GoodFo...",bBUMib8l6Me1ZB1_Qkezkg,"Restaurants, Pakistani, Indian, Middle Eastern",Montr√©al,None,1,45.518036,-73.582174,Mysore Indian Cuisine,Plateau-Mont-Royal,H2W 1Z3,19,3.5,QC
14,4404 14 Street NW,"{u'BusinessParking': u'{'garage': False, 'stre...",o_zDURWzgt5yM5HW_xGJsg,"Beauty & Spas, Barbers",Calgary,"{u'Monday': u'9:30-18:0', u'Tuesday': u'9:30-1...",1,51.091857,-114.094625,North Haven Barber Shop,,T2K,3,4.5,AB
15,1200 37 St SW,"{u'BusinessAcceptsCreditCards': u'True', u'Goo...",IbTDLI02Sq50C7B-EWK1sg,"Delis, Restaurants, Sandwiches",Calgary,None,1,51.042469,-114.139574,Safeway Food & Drug,,T3C 1S2,4,2.5,AB
16,438 Place Jacques Cartier,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",r89Re4FNgVWHgBfjCVZyVw,"Nightlife, Bars, American (Traditional), Tapas...",Montr√©al,"{u'Monday': u'11:30-23:0', u'Tuesday': u'11:30...",0,45.507699,-73.553407,Harlow,Ville-Marie,H2Y 3B3,12,3.5,QC
17,703 N Rancho Dr,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",hTzcHtk4-0QJnFUbkKpd5Q,"Shopping, Fashion, Department Stores",Las Vegas,None,1,36.178348,-115.176916,Citi Trends,,89106,4,4.0,NV
18,1549 N Rancho Dr,None,UwIpS9UKsPiKAv1fiEYhqg,"Financial Services, Check Cashing/Pay-day Loan...",Las Vegas,"{u'Monday': u'10:0-19:0', u'Tuesday': u'10:0-1...",1,36.188386,-115.186124,Nevada Title And Payday Loans,,89106,4,1.0,NV
19,"3940 Martin Luther King Blvd, Ste 101","{u'BusinessAcceptsCreditCards': u'True', u'Bik...",vJIuDBdu01vCA8y1fwR1OQ,"American (Traditional), Food, Bakeries, Restau...",Las Vegas,"{u'Tuesday': u'11:0-18:0', u'Friday': u'11:0-1...",0,36.192284,-115.159272,CakesbyToi,,89106,3,1.5,NV

In [10]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 15 columns):
address         188593 non-null object
attributes      162807 non-null object
business_id     188593 non-null object
categories      188052 non-null object
city            188593 non-null object
hours           143791 non-null object
is_open         188593 non-null int64
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    188593 non-null object
postal_code     188593 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 21.6+ MB

#### Check-in Data

In [11]:
with open(file_checkin) as f:
    df_checkin = pd.DataFrame(json.loads(line) for line in f)
df_checkin.head(2)

              business_id                                               time
0  7KPBkxAOEtb3QeIL9PEErg  {u'Sun-18': 1, u'Fri-18': 1, u'Sun-16': 1, u'F...
1  kREVIrSBbtqBhIYkTccQUg  {u'Mon-13': 1, u'Thu-20': 1, u'Sun-19': 1, u'W...

#### Review Data

In [12]:
with open(file_review) as f:
    df_review = pd.DataFrame(json.loads(line) for line in f)
df_review.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g

#### Tip Data

In [13]:
with open(file_tip) as f:
    df_tip = pd.DataFrame(json.loads(line) for line in f)
df_tip.head(2)

,business_id,date,likes,text,user_id
0,tJRDll5yqpZwehenzE2cSg,2012-07-15,0,Get here early enough to have dinner.,zcTZk7OG8ovAmh_fenH21g
1,2ThtBbeDqFkVi6LugUOcVA,2012-11-25,0,Don't use them! Double charged my boyfriend an...,M5n8mMFoeXjnJEV2gxyGGA

#### User Data

In [14]:
with open(file_user) as f:
    df_user = pd.DataFrame(json.loads(line) for line in f)

In [15]:
df_user.head(10)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,2.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Susan,1,0,lzlZwIpuSWXEnNS91wxjHw,2015-09-28
1,5.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Daipayan,2,0,XvLBr-9smbI0m_a7dXtB7w,2015-09-05
2,4.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Andy,1,0,QPT4Ud4H5sJVr68yXhoWFw,2016-07-21
3,4.05,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Jonathan,19,0,i5YitlHZpf0B3R0s_8NVuw,2014-08-04
4,3.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Shashank,3,0,s4FoIXE_LSGviTHBe8dmcg,2017-06-18
5,5.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Stacey X Joe,3,0,ZcsZdHLiJGVvDHVjeTYYnQ,2014-08-27
6,5.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Lindsay,2,0,h3p6aeVL7vrafSOM50SsCg,2016-02-02
7,5.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Joshua,1,0,EbJMotYYkq-iq-v1u8wCYA,2013-03-20
8,2.77,0,0,0,0,0,0,0,0,0,...,0,None,1,None,0,Mike,11,8,nnB0AE1Cxp_0154xkhXelw,2014-07-11
9,4.00,0,0,0,0,0,0,0,0,0,...,1,None,0,None,3,Mitch,4,2,XoEnrhtJc2pcdlQ09d8Oug,2013-04-07

## Filter data by city and category

I am interested in the Yelp business in Las Vegas due to large amount of visitors and resturants. Thus, I create filters that selects business 
* that are located in "Toronto"
* that contains "Restaurants" in their category

In [29]:
df_filtered = df_business[df_business['city'] == "Toronto"]
df_filtered.head(2)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
6,631 Bloor St W,"{u'RestaurantsPriceRange2': u'1', u'BusinessPa...",9A2quhZLyWk0akUetBd8hQ,"Food, Bakeries",Toronto,None,0,43.664378,-79.414424,Bnc Cake House,Koreatown,M6G 1K8,7,4.0,ON
11,595 Markham Street,"{u'RestaurantsTableService': u'True', u'GoodFo...",tZnSodhPwNr4bzrwJ1CSbw,"Cajun/Creole, Southern, Restaurants",Toronto,"{u'Tuesday': u'17:0-1:0', u'Friday': u'17:0-1:...",0,43.664125,-79.411886,Southern Accent Restaurant,Palmerston,M6G 2L7,146,4.0,ON

In [55]:
df_filtered = df_filtered[df_filtered['categories'].str.contains("Restaurants",na=False)]
df_filtered.head(2)
#"Restaurants" in category #for category in df_filtered['categories']
#df_Toronto_Restaurants=df_filtered['Restaurants' in df_filtered['categories']]
#df_Toronto_Restaurants

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
11,595 Markham Street,"{u'RestaurantsTableService': u'True', u'GoodFo...",tZnSodhPwNr4bzrwJ1CSbw,"Cajun/Creole, Southern, Restaurants",Toronto,"{u'Tuesday': u'17:0-1:0', u'Friday': u'17:0-1:...",0,43.664125,-79.411886,Southern Accent Restaurant,Palmerston,M6G 2L7,146,4.0,ON
27,99 Yorkville Avenue,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",PMDlKLd0Mxj0ngCpuUmE5Q,"Restaurants, Food, Canadian (New), Coffee & Tea",Toronto,None,0,43.670885,-79.392379,The Coffee Mill Restaurant,Yorkville,M5R 3K5,25,3.5,ON

#### Keep relevant columns

* only keep some useful columns
    * business_id
    * name
    * categories
    * stars

In [54]:
selected_features = [u'business_id', u'name', u'categories', u'stars']
df_selected_business = df_filtered[selected_features]
df_selected_business.head(2)

,business_id,name,categories,stars
11,tZnSodhPwNr4bzrwJ1CSbw,Southern Accent Restaurant,"Cajun/Creole, Southern, Restaurants",4.0
27,PMDlKLd0Mxj0ngCpuUmE5Q,The Coffee Mill Restaurant,"Restaurants, Food, Canadian (New), Coffee & Tea",3.5

#### Rename the column name "stars" to "avg_stars" to avoid naming conflicts with review dataset

In [56]:
df_selected_business = df_selected_business.rename(columns = {'stars':'avg_stars'})
df_selected_business.head(2)

,business_id,name,categories,avg_stars
11,tZnSodhPwNr4bzrwJ1CSbw,Southern Accent Restaurant,"Cajun/Creole, Southern, Restaurants",4.0
27,PMDlKLd0Mxj0ngCpuUmE5Q,The Coffee Mill Restaurant,"Restaurants, Food, Canadian (New), Coffee & Tea",3.5

#### Save results to csv files

In [65]:
#f.write(printinfo.encode('utf8') + '\n')
df_selected_business.to_csv('./business.csv', index_label=False)

### Use the "business_id" column to filter review data

* I want to make a DataFrame that contain and only contain the reviews about the business entities I just obtained

#### Prepare dataframes to be joined on business_id

In [66]:
df_left = df_selected_business.set_index('business_id')
df_left.head(2)

,name,categories,avg_stars
business_id,,,
tZnSodhPwNr4bzrwJ1CSbw,Southern Accent Restaurant,"Cajun/Creole, Southern, Restaurants",4.0
PMDlKLd0Mxj0ngCpuUmE5Q,The Coffee Mill Restaurant,"Restaurants, Food, Canadian (New), Coffee & Tea",3.5

In [76]:
df_left.head(10)

,name,categories,avg_stars
business_id,,,
tZnSodhPwNr4bzrwJ1CSbw,Southern Accent Restaurant,"Cajun/Creole, Southern, Restaurants",4.0
PMDlKLd0Mxj0ngCpuUmE5Q,The Coffee Mill Restaurant,"Restaurants, Food, Canadian (New), Coffee & Tea",3.5
YIez_A3WOt9J2SXN7OMa2Q,Allwyn's Bakery,"Caribbean, Food, Bakeries, Restaurants",4.0
mr3rQcYBKWu2L6o7qtQ9Wg,Hub Coffee House & Locavorium,"Restaurants, Food, Coffee & Tea, Breakfast & B...",4.0
cuXCQM-9VwpZlSneEY1b3w,Indian Street Food Company,"Nightlife, Wine Bars, Indian, Restaurants, Bars",3.5
hsWx7ya8jLMhi8ZWX23Thg,Harvey's Restaurants,"American (Traditional), Burgers, Fast Food, Re...",2.0
DcyeRzICLrMkrPpJDzjQ6Q,Honey's Beestro,"Nightlife, Bars, Restaurants, Canadian (New), ...",2.0
i2Fd0dl39BZ8nVxBnSPsKg,Anchor Bar,"Salad, Chicken Wings, Sandwiches, Pizza, Resta...",3.0
2j5hnwYzS-YLJn6IFqloCw,I Wings,"Restaurants, Pizza, Chicken Wings",3.5
_T8qy9XAKAFLJdmoLg1Q-g,Burrito Boyz,"Mexican, Restaurants",4.0

In [67]:
df_right = df_review.set_index('business_id')

,cool,date,funny,review_id,stars,text,useful,user_id
business_id,,,,,,,,
iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g

In [75]:
df_right.head(10)

,cool,date,funny,review_id,stars,text,useful,user_id
business_id,,,,,,,,
iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
elqbBhBfElMNSrjFqW3now,0,2011-02-25,0,Er4NBWCmCD4nM8_p1GRdow,2,Back in 2005-2007 this place was my FAVORITE t...,2,msQe1u7Z_XuqjGoqhB0J5g
Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
AxeQEz3-s9_1TyIo-G7UQw,0,2011-10-10,0,brokEno2n7s4vrwmmUdr9w,5,"If you like Thai food, you have to try the ori...",1,msQe1u7Z_XuqjGoqhB0J5g
zdE82PiD6wquvjYLyhOJNA,0,2012-04-18,1,kUZWBVZvhWuC8TWUg5AYyA,5,AMAZING!!!\n\n I was referred here by a friend...,0,msQe1u7Z_XuqjGoqhB0J5g
EAwh1OmG6t6p3nRaZOW_AA,0,2011-02-25,0,wcqt0III88LEcm19IxFFyA,4,Ribs = amazing\n2 hour wait time= not so amazi...,0,msQe1u7Z_XuqjGoqhB0J5g
atVh8viqTj-sqDJ35tAYVg,1,2012-11-09,2,LWUtqzNthMM3vpWZIFBlPw,2,"Food is pretty good, not gonna lie. BUT you ha...",1,msQe1u7Z_XuqjGoqhB0J5g

#### Join two tables and reset index

In [68]:
df_combine = df_left.join(df_right, how = "left")
df_combine.shape

(336912, 11)

In [69]:
df_combine = df_combine.reset_index()

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
0,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2012-11-11,0,mMNJY1j5QZyoodgZKJMhMw,5,Excellent and friendly service! Nice clean re...,0,ILasiYMdzxhUf9Mkcl8EnQ
1,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-06-18,0,MzkM0K4Ifb8Xr3gTgCiW9g,1,Decided to go for Fathers Day breakfast with m...,0,8hfJ_MM1_Yd-ECDfuWeTAA

In [74]:
df_combine.head(10)

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
0,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2012-11-11,0,mMNJY1j5QZyoodgZKJMhMw,5,Excellent and friendly service! Nice clean re...,0,ILasiYMdzxhUf9Mkcl8EnQ
1,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-06-18,0,MzkM0K4Ifb8Xr3gTgCiW9g,1,Decided to go for Fathers Day breakfast with m...,0,8hfJ_MM1_Yd-ECDfuWeTAA
2,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2013-08-16,0,M_JLcZWw2WJNC_Pu3QpF8A,4,Awesome place. Love the liberal use of corned ...,0,TTCzwn_6k1AwSuqAB8oLBA
3,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2013-12-05,0,55wL_qm5MaWMdpfdcnVkqg,3,Its fine the breakfast was fine it wasnt anyth...,0,TDO6l_foJT_FKUQja66N8w
4,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-05-02,0,_HY2yoOUbe13yw7PYFs8gg,5,Love the breakfast here and the pancakes! Alwa...,0,gi7nOGT7lrJRdcmgcSvjqA
5,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2013-08-12,0,kJu8e4Inmm-OyJJ2Jr4whg,4,I dine here 1 or 2 times a week. I enjoy gett...,1,vUC-tyq_TFvS0f98SvL1Eg
6,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2013-04-07,0,8pYiPyc-iFTbc0D8_WVa1w,4,"Good place to go to get a great, cheap breakfa...",0,-JPoTsTKY9Fpxvvlcd7MrQ
7,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2014-03-01,0,p3Lfnc0Pih6Tj0f6QG8YWQ,2,Completely mediocre. I was there on a Saturday...,0,DTfe51_9B98LevKahtdgXQ
8,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2016-06-03,0,gTx8_kX9a2Jt5ff_R4RccQ,4,"Good breakfast, good service, not too busy any...",0,5A9AHqgugCaztToTHjMMQA
9,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-07-20,0,hTACl2M-vXHjnG3EXIU8Kw,1,This was our first visit to this restaurant an...,0,-TQ0Vqbu8F_3UM7B15GPbQ

#### I further filter data by date to keep comments in 2017
* Otherwise my laptop may crush on memory when running machine learning algorithms
* Purposefully ignoring the reviews made too long time ago

In [70]:
# Make a filter that selects date after 2017-01-20
df_combine['date'] = pd.to_datetime(df_combine['date'], format = "%Y-%m-%d")
cut_off = pd.to_datetime("2017-01-01", format = "%Y-%m-%d")
# Filter the joined DataFrame and name it as df_final
df_final = df_combine[df_combine['date'] > cut_off]

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
1,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-06-18,0,MzkM0K4Ifb8Xr3gTgCiW9g,1,Decided to go for Fathers Day breakfast with m...,0,8hfJ_MM1_Yd-ECDfuWeTAA
4,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-05-02,0,_HY2yoOUbe13yw7PYFs8gg,5,Love the breakfast here and the pancakes! Alwa...,0,gi7nOGT7lrJRdcmgcSvjqA

In [73]:
df_final.head(10)

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
1,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-06-18,0,MzkM0K4Ifb8Xr3gTgCiW9g,1,Decided to go for Fathers Day breakfast with m...,0,8hfJ_MM1_Yd-ECDfuWeTAA
4,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-05-02,0,_HY2yoOUbe13yw7PYFs8gg,5,Love the breakfast here and the pancakes! Alwa...,0,gi7nOGT7lrJRdcmgcSvjqA
9,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-07-20,0,hTACl2M-vXHjnG3EXIU8Kw,1,This was our first visit to this restaurant an...,0,-TQ0Vqbu8F_3UM7B15GPbQ
12,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2018-03-19,0,_dL4Ud6SQ95yzwEq9-60Fw,5,"I love the place, the waiters are friendly\n\n...",0,Ysln040NRlktA4vAWwmw8A
17,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-11-03,0,6I9xY8BIUYYELnVKepLduQ,3,Does a reasonable job in terms of predictable ...,0,2HjBjUrqjjVfopPfghgpqw
26,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2018-04-17,0,DhjYsxxGlGa2Y4EaJV99XA,4,My sister and in laws were in town and we want...,0,Y2TBSd3ExydbgEnVxAt_QA
28,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-12-02,0,NUDQwnTdGEBsokjvVumHug,5,I try to come a few times a month for a great ...,0,YudZu7xpKDXOWFrp5C6gtA
31,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-01-21,0,5eq-hob5mmpTfKILGduEoQ,5,Our favorite breakfast spot. Every weekend I t...,0,0Xfwi57VISu_9ALiOxZcEA
32,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2018-01-03,0,GKLI3HmALuCgnNqzqQhYng,5,I've been living in this neighborhood all my l...,0,dxJzOoMOpCwc_Sd6fk5QuQ
33,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2018-01-11,0,0TBECKZ08JmnPYw7zxRIsg,2,Not great. Ordered the eggs florentine with ho...,0,CD9dSllum_L_OvpRW0YH0w

## Save my preprocessed dataset to csv file

In [71]:
df_final.to_csv('./2017_restaurant_reviews.csv', index_label=False)
df_final = pd.read_csv('./2017_restaurant_reviews.csv')

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
1,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-06-18,0,MzkM0K4Ifb8Xr3gTgCiW9g,1,Decided to go for Fathers Day breakfast with m...,0,8hfJ_MM1_Yd-ECDfuWeTAA
4,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-05-02,0,_HY2yoOUbe13yw7PYFs8gg,5,Love the breakfast here and the pancakes! Alwa...,0,gi7nOGT7lrJRdcmgcSvjqA

In [72]:
df_final.head(10)

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful,user_id
1,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-06-18,0,MzkM0K4Ifb8Xr3gTgCiW9g,1,Decided to go for Fathers Day breakfast with m...,0,8hfJ_MM1_Yd-ECDfuWeTAA
4,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-05-02,0,_HY2yoOUbe13yw7PYFs8gg,5,Love the breakfast here and the pancakes! Alwa...,0,gi7nOGT7lrJRdcmgcSvjqA
9,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-07-20,0,hTACl2M-vXHjnG3EXIU8Kw,1,This was our first visit to this restaurant an...,0,-TQ0Vqbu8F_3UM7B15GPbQ
12,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2018-03-19,0,_dL4Ud6SQ95yzwEq9-60Fw,5,"I love the place, the waiters are friendly\n\n...",0,Ysln040NRlktA4vAWwmw8A
17,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-11-03,0,6I9xY8BIUYYELnVKepLduQ,3,Does a reasonable job in terms of predictable ...,0,2HjBjUrqjjVfopPfghgpqw
26,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2018-04-17,0,DhjYsxxGlGa2Y4EaJV99XA,4,My sister and in laws were in town and we want...,0,Y2TBSd3ExydbgEnVxAt_QA
28,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-12-02,0,NUDQwnTdGEBsokjvVumHug,5,I try to come a few times a month for a great ...,0,YudZu7xpKDXOWFrp5C6gtA
31,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2017-01-21,0,5eq-hob5mmpTfKILGduEoQ,5,Our favorite breakfast spot. Every weekend I t...,0,0Xfwi57VISu_9ALiOxZcEA
32,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2018-01-03,0,GKLI3HmALuCgnNqzqQhYng,5,I've been living in this neighborhood all my l...,0,dxJzOoMOpCwc_Sd6fk5QuQ
33,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,"Restaurants, Breakfast & Brunch",3.5,0,2018-01-11,0,0TBECKZ08JmnPYw7zxRIsg,2,Not great. Ordered the eggs florentine with ho...,0,CD9dSllum_L_OvpRW0YH0w